#cmx {
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	height: 100%;
	left: 0;
	overflow: auto;
	padding-top: 100px;
	position: fixed;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 9999999;
}


#cmx #cmx-content {
	background-color: #1D1F21;
	color: #C5C8C6;
	margin: auto;
	overflow: hidden;
	padding: 20px;
	width: 80%;
}

#cmx #cmx-content #cmx-count {
	display: inline;
}

#cmx #cmx-content #cmx-input {
	all: unset;
	background-color: #1D1F21;
	border: none;
	color: #C5C8C6;
	width: 80%;
}

#cmx #cmx-content #cmx-container {
	width: 100%;
	border-bottom: 1px solid #303030;
}

#cmx #cmx-content #cmx-input:focus {
	outline: none;
}

#cmx #cmx-content #cmx-ul {
	list-style: none;
	overflow-y: hidden;
}

#cmx #cmx-content li {
	overflow: hidden;
}
#cmx #cmx-content li img {
	width: 15px;
	min-width: 15px;
	margin-right: 15px;
}

#cmx #cmx-content li:hover {
	background-color: #282A2E;
}

#cmx #cmx-content .cmx-selected {
	color: #F0C674;
}

.cmx-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cmx-url {
	color: #808080;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 10px;
	display: inline;
}
