 #cmx {
	background-color: rgba(0, 0, 0, 0.4);

	display: none;
	position: fixed;
	z-index: 9999999;
	padding-top: 100px;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}

#cmx #cmx-content {
	background-color: #1D1F21;
	color: #C5C8C6;

	font-size: 20px;
	overflow: hidden;

	margin: auto;
	padding: 20px;
	width: 80%;
}

#cmx #cmx-content #cmx-count {
	display: inline;
}

#cmx #cmx-content #cmx-input {
	background-color: #1D1F21;
	color: #C5C8C6;

	border: none;
	font-weight: bold;

	margin-bottom: 15px;

	width: 80%;
}

#cmx #cmx-content #cmx-container {
	width: 100%;
	border-bottom: 1px solid #303030;
}

#cmx #cmx-content #cmx-input:focus {
	outline: none;
}

#cmx #cmx-content #cmx-ul {
	list-style: none;
	overflow-y: hidden;
}

#cmx #cmx-content li {
	overflow: hidden;
}
#cmx #cmx-content li img {
	width: 15px;
	margin-right: 15px;
}

#cmx #cmx-content li:hover {
	background-color: #282A2E;
}

#cmx #cmx-content .selected {
	color: #F0C674;
}

.cmx-title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.cmx-url {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	color: #808080;
	overflow: hidden;
}
